[Unit]
Description=The Ophelia CI Server.
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ophelia-ci-server
Restart=on-failure
User=ophelia

[Install]
WantedBy=multi-user.target