Package: ophelia-ci-server
Version: 0.5.0
Architecture: amd64
Maintainer: Edmilson Rodrigues <edmilson.monteiro.rodrigues@gmail.com>
Description: A Git server that anyone can install in their own infrastructure and use to mange their projects.
Depends: git, openssh-client

