{% extends 'base.html' %}

{% block content %}
<section id="repository-section" data-id="{{ id }}" class="p-section">
    <hr class="p-rule">
    <h3>
        {{ repository.name }} 
       <button onclick="deleteObject('{{ id }}')" data-id="{{ id }}"><i class="p-icon--delete"></i></button>
    </h3>


    <div class="p-section--shallow">
        <p>{{ repository.description }}</p>
    </div>
    <div class="p-section--shallow">
        Clone repo: <code>git clone {{ repository.clone_url }}</code>
    </div>
</section>
{% endblock %}